# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# testing
coverage/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / os
.vscode/
.idea/
.DS_Store
*.swp

# vite
.vite/
